/*
 * Human Cell Atlas
 * https://www.humancellatlas.org/
 *
 * Style definitions specific to the HCA data lifecycle diagram component.
 */

/* Containers - add pointer events */
.dataLifecycle [id^="container"] {
    cursor: pointer;
}

/* Elements with pointer events "none" */
.dataLifecycle text, .dataLifecycle [id^="icon/"], .dataLifecycle [id="background"], .dataLifecycle [id="flowPaths"],
.dataLifecycle [id="containerValidationAndDataCurator"], .dataLifecycle [id="substateGCP"], .dataLifecycle [id="substateAWS"], use {
    pointer-events: none;
}

/* "Container" elements - hover state */
.dataLifecycle rect[id^="container"]:hover {
    fill: #0C87C6;
    fill-opacity: 1;
    opacity: 1;
    stroke: #0C87C6;
}

/* Text - hover state */
/* Includes "AWS" and "GCP" in storage element */
.dataLifecycle rect[id^="container"]:hover + text, .dataLifecycle rect[id="containerStorage"]:hover ~ g[id^="substate"] text {
    fill: var(--white);
}

/* Icon hover state */
.dataLifecycle rect[id^="container"]:hover ~ g[id^="icon/"] {
    opacity: 1;
}

/* Storage element "AWS" and "GCP" container - hover state */
.dataLifecycle rect[id="containerStorage"]:hover ~ g[id^="substate"] rect {
    fill: #6DB7DC;
}

/* Matrix service element - hover state */
/* Hides <use> for Analysis Portal element */
.dataLifecycle [id="stateMatrixService"]:hover ~ [id="use"] {
    display: none;
}
